.myTable {
    width: 98%;    
    margin: 20px;
    height: 50%;
}
th {
    font-weight: bolder;
}

button {
    outline: none;
}

table {
    border-top: 1px gray solid;
}

.add-btn {
    margin: 10px;  
    float: right;
}

.toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.example-spacer {
    flex: 1 1 auto;
  }

.log{
    text-decoration: none;
    list-style: none;
    margin: 5px;
}