<h1 mat-dialog-title style="display: flex; justify-content: center;">Edit {{selectedFacility.facilityName}} </h1>
  <hr>
  <form [formGroup]="facilityForm" (ngSubmit)="saveFacility()" ngNativeValidate>
<div mat-dialog-content>
  
    <mat-form-field class="edit-fields">
      <input matInput placeholder="Facility Name" formControlName="facilityName" required />
    </mat-form-field>

    <mat-form-field class="edit-fields">
      <input matInput placeholder="Short Code" formControlName="shortCode" required />
    </mat-form-field>

    <mat-form-field class="edit-fields">
      <input matInput placeholder="Facility ID DS" formControlName="idDs"  required />
    </mat-form-field>

      <mat-checkbox color="primary" name="active" formControlName="activity">Active</mat-checkbox>

</div>
<div mat-dialog-actions align="center">
  <button type="submit" mat-raised-button color="accent">Save</button>
  <button mat-dialog-close mat-raised-button >Cancel</button>
</div>
</form>